<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p>
		<a href="/">메인 화면으로 돌아가기</a>
		
		<h1>
			현제페이지는 <%= title %></%> 페이지입니다.
		</h1>
		<p>
			아마도 이 페이지를 보고 계신다는 것은 get방식으로 접속했다는 뜻일 것입니다.
		</p>
		</form>
		</p>
		<br>
  </body>
</html>
