<!DOCTYPE html>
<html lang="en">

<head>
<script>
var is_host = false;
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Code Mirror dependencies -->
<!--<link rel=stylesheet href="codemirror/doc/docs.css">-->

<link rel="stylesheet" href="codemirror/lib/codemirror.css">
<link rel="stylesheet" href="codemirror/theme/3024-day.css">
<link rel="stylesheet" href="codemirror/theme/3024-night.css">
<link rel="stylesheet" href="codemirror/theme/abcdef.css">
<link rel="stylesheet" href="codemirror/theme/ambiance.css">
<link rel="stylesheet" href="codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="codemirror/theme/bespin.css">
<link rel="stylesheet" href="codemirror/theme/base16-light.css">
<link rel="stylesheet" href="codemirror/theme/blackboard.css">
<link rel="stylesheet" href="codemirror/theme/cobalt.css">
<link rel="stylesheet" href="codemirror/theme/colorforth.css">
<link rel="stylesheet" href="codemirror/theme/dracula.css">
<link rel="stylesheet" href="codemirror/theme/eclipse.css">
<link rel="stylesheet" href="codemirror/theme/elegant.css">
<link rel="stylesheet" href="codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="codemirror/theme/hopscotch.css">
<link rel="stylesheet" href="codemirror/theme/icecoder.css">
<link rel="stylesheet" href="codemirror/theme/isotope.css">
<link rel="stylesheet" href="codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="codemirror/theme/liquibyte.css">
<link rel="stylesheet" href="codemirror/theme/material.css">
<link rel="stylesheet" href="codemirror/theme/mbo.css">
<link rel="stylesheet" href="codemirror/theme/mdn-like.css">
<link rel="stylesheet" href="codemirror/theme/midnight.css">
<link rel="stylesheet" href="codemirror/theme/monokai.css">
<link rel="stylesheet" href="codemirror/theme/neat.css">
<link rel="stylesheet" href="codemirror/theme/neo.css">
<link rel="stylesheet" href="codemirror/theme/night.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-dark.css">
<link rel="stylesheet" href="codemirror/theme/paraiso-light.css">
<link rel="stylesheet" href="codemirror/theme/pastel-on-dark.css">
<link rel="stylesheet" href="codemirror/theme/railscasts.css">
<link rel="stylesheet" href="codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="codemirror/theme/seti.css">
<link rel="stylesheet" href="codemirror/theme/solarized.css">
<link rel="stylesheet" href="codemirror/theme/the-matrix.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="codemirror/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="codemirror/theme/ttcn.css">
<link rel="stylesheet" href="codemirror/theme/twilight.css">
<link rel="stylesheet" href="codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="codemirror/theme/xq-light.css">
<link rel="stylesheet" href="codemirror/theme/yeti.css">
<link rel="stylesheet" href="codemirror/theme/zenburn.css">
<script src="codemirror/lib/codemirror.js"></script>
<script src="codemirror/mode/javascript/javascript.js"></script>
<script src="codemirror/addon/selection/active-line.js"></script>
<script src="codemirror/addon/edit/matchbrackets.js"></script>
<style type="text/css">
      .CodeMirror {border: 1px solid black; font-size:13px}
    </style>

    <!-- Code Mirror dependencies end -->

    <!-- jQuery -->
    <script src="js/jquery-2.2.0.js"></script>

<link rel="stylesheet" href="jstree/themes/default/style.min.css">


</head>

<body>

<!-- upper navigation bar starts-->
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>

        <li class="active"><a href="/main">Main Page</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#menu-toggle" class="btn" id="menu-toggle">Toggle Menu</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= userId %></a></li>
        <li><a href="/<%= logger %>"><span class="glyphicon glyphicon-log-in"></span> <%= logger %></a></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- upper navigation bar ends -->

<div class="container">

    <div id="wrapper" style="padding-left:0px">

        <!-- Sidebar wrapper -->
        <div class="col-md-4 tree-browser">
        <div id="sidebar-wrapper" style="background:#eee">
        <a href="#" class="btn btn-success" onclick="createTree()">Create</a>
        <a href="#" class="btn btn-warning" onclick="renameTree()">Rename</a>
        <a href="#" class="btn btn-danger" onclick="deleteTree()">Delete</a>
                <div id="tree_dir"></div>
            <!-- <ul class="sidebar-nav"> -->




            <!-- 
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="/">Index</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/users">User</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            <!-- </ul> -->
        </div>
        <!-- /#sidebar-wrapper ends-->
        </div>


        <!-- Page Content -->
        <div id="page-content-wrapper">


        <!-- page-content-wrapper와 container-fluid 사이 -->
            <div class="container-fluid">
           <!--  container-fluid와 row의 사이 -->
                <div class="row">
                <!-- row와 col-lg-12의 사이 -->
                    <div class="col-lg-12">


<div class="container">
<br><br>
<!-- side bar toggle button -->

<!-- contents starts-->
<div id="content">

<!-- styles for chatting interface -->
    <style>
#chat {
height:200px; 
border:1px solid #eee;
}
#user_list {
height:50px;
overflow-y:auto;
border-bottom:1px solid #eee;
background-color: #f9f9f9;
padding:5px;
}

#messages {
height:100px;
padding:5px;
overflow-y: auto;
}

#input_message {
    height:25px;
    text-align: center;
}

#input_message input {
    width: 95%;
}
.alarm {
    font-size: 12px;
    color: red;
}
.myname {
    color: blue;
}

canvas {
display: block;
margin: auto;
border: 1px solid black;
}


    </style>
    <!-- styles for chatting interface -->

    <!-- scripts for chatting interface -->
    <script src="/js/socket.io.js"></script>
    <script src="/module/collaboration.js"></script>
    <script>
    var username = "";
    var socket = null;
    $.get('/dev', function(data, status) {
        if(status == 'success')
        {
            username = data;
            if(username == ""){
                username = "testuser" + Math.ceil(Math.random() * 100);
            }
            console.log('/dev data is ' + data);
            $(document).ready( function() {
                socket = io.connect();
                collaboration.init();
                collaboration.join();
            });
        }
    });
    </script>
    <!-- scripts for chatting interface -->

    <!-- chatting area -->
    <div id="chat">
        User Lists
        <div id="user_list">
        </div>

        <div id="messages">
        </div>

        <div id="input_message">
            <input type='text' />
        </div>
    </div>

    <!-- Clickable taps list -->
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="#red" data-toggle="tab">File Manager</a></li>
        
        <li class="active"><a href="#blue" data-toggle="tab">Tetris</a></li>
    </ul>
    <!-- Clickable taps list ends -->

    <!-- tap contents starts -->
    <div id="my-tab-content" class="tab-content">

        <!-- First tap contents starts -->
        <div class="tab-pane" id="red">
            <h1>Code Editing Page</h1>
            <p>소스코드를 웹에서 간단하게 수정하고 저장할 수 있습니다.</p>

 

                <!-- <article> -->
                <h2 id="file_name">파일이름 나올 부분</h2>
                <p id="file_path">파일 경로 나올 부분</p>
                <a href="#" class="btn btn-primary disabled" id="save_btn" onclick="save_current()">Save</a>
                <form><textarea id="code" name="code">
                Select any file
                }</textarea></form>

                <p>Select a theme: <select onchange="selectTheme()" id="select">
                    <option selected>default</option>
                    <option>3024-day</option>
                    <option>3024-night</option>
                    <option>abcdef</option>
                    <option>ambiance</option>
                    <option>base16-dark</option>
                    <option>base16-light</option>
                    <option>bespin</option>
                    <option>blackboard</option>
                    <option>cobalt</option>
                    <option>colorforth</option>
                    <option>dracula</option>
                    <option>eclipse</option>
                    <option>elegant</option>
                    <option>erlang-dark</option>
                    <option>hopscotch</option>
                    <option>icecoder</option>
                    <option>isotope</option>
                    <option>lesser-dark</option>
                    <option>liquibyte</option>
                    <option>material</option>
                    <option>mbo</option>
                    <option>mdn-like</option>
                    <option>midnight</option>
                    <option>monokai</option>
                    <option>neat</option>
                    <option>neo</option>
                    <option>night</option>
                    <option>paraiso-dark</option>
                    <option>paraiso-light</option>
                    <option>pastel-on-dark</option>
                    <option>railscasts</option>
                    <option>rubyblue</option>
                    <option>seti</option>
                    <option>solarized dark</option>
                    <option>solarized light</option>
                    <option>the-matrix</option>
                    <option>tomorrow-night-bright</option>
                    <option>tomorrow-night-eighties</option>
                    <option>ttcn</option>
                    <option>twilight</option>
                    <option>vibrant-ink</option>
                    <option>xq-dark</option>
                    <option>xq-light</option>
                    <option>yeti</option>
                    <option>zenburn</option>
                </select>
                </p>

                <!-- </article> -->

        </div>
        <!-- First tap contents ends -->


        <!-- Second tap contents starts -->
        <div class="tab-pane active" id="blue">

<script>
var sourceCanvas;
var timerId1;
var jpgQuality = 0.60;
var theDataURL;
var packet = {};
//var theDataURL = canvas.toDataURL('image/jpeg', jpgQuality);
function chek() {   
    console.log(document.getElementById('host_flag'));
    console.log(document.getElementById('host_flag').checked);
    if( document.getElementById('host_flag').checked === true){
        newGame();
        is_host = true;
        
        timerId1 = setInterval('packing();', 500);
        //timerId2 = setInterval('collaboration.send_canvas(sourceCanvas)', 1000);
    } else {
        is_host = false;
    }
}
function packing() {
    packet = 
            { board: board,
                current: current,
                currentX: currentX,
                currentY: currentY
            }
            /*console.log('1.packetizing :'+packet.board);*/
            /*console.log('1.packetizing :'+packet.current);
            console.log('1.packetizing :'+packet.currentX);
            console.log('1.packetizing :'+packet.currentY);*/
            console.log('1. sending packet');
            collaboration.send_canvas(packet);
}
</script>
            <h1>Tetris page!!</h1>
            <p>blue blue blue blue blue</p>
            <canvas width='300' height='600' id="srcCanvas"></canvas>
            <br>
            If you are host, please check.
            <input type="checkbox" id="host_flag" onclick="chek()" />

<audio id="clearsound" src="game/pop.ogg" preload="auto"></audio>
<script src="game/tetris.js"></script>
<script src="game/controller.js"></script>
<script src="game/render.js"></script>
<script src="js/jquery-2.2.0.js"></script>
<script>
//sourceCanvas = document.getElementById('srcCanvas');
</script>

        </div>
        <!-- Second tap contents ends -->
    </div>
    <!-- tap contents ends -->

</div>
<!-- div id="contents" ends -->



-----------------------탭부분 끝남!----------------
                    
                        

                    </div><!-- div class:container ends -->

                </div><!-- div class:col-lg-12 ends -->
            </div><!-- class:row ends -->
        </div><!-- div class:container-fluid ends -->


    

    </div><!-- div class:page-content-wrapper ends-->
    <!-- /#wrapper -->

    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- Tabs Toggle Script -->
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
    </script> 




<!-- jstree initialization -->
    <script src="jstree/jstree.min.js"></script>
    <script>
    /*$('#tree_dir').jstree({
        'core' : {
            'data' : [
                { "text" : "Root node",
                "icon" : "",
                 "children" : [
                        { "text" : "Child node 1" },
                        { "text" : "Child node 2" }
                ]}
            ]
        }
    });*/

    /*$('#tree_dir').jstree({
        'core' : {
            'data' : {
                "url" : "//localhost/api/tree?id=1",
                "dataType" : "json"
            }
        }
    });*/

    /*$('#tree_dir').jstree({
        'core' : {
            'data' : {
                "url" : "//localhost/api/tree",
                "data" : function (node) {
                    return { "id" : node.id };
                }
            }
        }
    });*/
    var host_name = window.location.host;
    var content_dirty_bit = 0;
    var file_path = "";
    var file_name = "";
    var node_num = 1;
    var parent = null;
    $(function() {
        /* lazy ajax data loading */
        $('#tree_dir').jstree({
            'core' : {
                'check_callback': true,
                'data' : {
                    url: function (node) {
                        return node.id === '#' ? '//' + host_name + '/api/tree?id=1' : '//' + host_name + '/api/tree?id=' + node.id;
                    }
                    
                }
            }
        });
        
        //jstree 클릭했을때 event listener
        $('#tree_dir').on("changed.jstree", function (e, data) {
            file_path = data.selected[0];
            file_name = data.instance.get_node(data.selected[0]).text;
            var req_url = '/api/resource?resource=' + file_path;
            console.log("The selected nodes are : ");
            console.log(data.selected);
            //if selected node is a file
            if(data.instance.get_node(file_path).icon != ""){
                $('#file_name').text(file_name);
                $('#file_path').text(file_path);
                $.get(req_url, function(data, status) {
                    editor.setValue(data);
                    $('#save_btn').attr("class", "btn btn-primary disabled");
                    content_dirty_bit = 0;
                   
                });
            }
            /*if(data.selected.length) {
                alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
            }*/
            
            //array type returns. because, multi-selectable
        });



    });
    function createTree() {
        var ref = $('#tree_dir').jstree(true),
            sel = ref.get_selected();
            parent = null;
        if(!sel.length) { 
            console.log('return false');
            return false; 
        }//incase not selected
        sel = sel[0];
        parent = ref.get_node(sel);
        if(parent.icon === ""){//부모 디렉토리가 폴더일때만 생성 가능.
            console.log('sel:' + sel);
            var newName = 'NewFile' + node_num;
            console.log('node_num:'+node_num);
            console.log('newName:'+newName);
            node_num++;
            var newId = parent.id + '/' + newName;
            sel = ref.create_node(sel, 
                {   "type": "file",
                    "icon": 'jstree-file',
                    'text': newName 
            });
            ref.set_id(sel, newId);
            file_path = newId;
            console.log('newId:' + newId);
            console.log('sel:' + sel);
            $.post('/api/save' , 
            {
                fpath: file_path,
                contents: ""
            },
            function(data, status){
                console.log('ajax post-file save with stat:' + status);
            });
            /*if(sel) {
                ref.edit(sel, 'NewFile' + node_num, function(node, status){
                    //file creation success
                    node_num++;
                    console.log(newId);
                    
                });
            }*/
        }
    };
    function renameTree() {
        var ref = $('#tree_dir').jstree(true),
            sel = ref.get_selected();
        if(!sel.length) { return false; }
        sel = sel[0];
        var oldFilePath = ref.get_node(sel).id;
        var oldFileName = ref.get_node(sel).text;
        var newFileName = prompt('Input new file name',"");
        if(newFileName === "" || newFileName === null)
        {
            console.log('renameTree():getting new file name error');
            return;
        }
        var newFilePath = oldFilePath.slice(0,oldFilePath.length - oldFileName.length) + newFileName;
        $.post('/api/rename', {
            oldPath: oldFilePath,
            newPath: newFilePath
        }, function(data, status){
            if(status === 'success'){
                console.log("renameing success");
                ref.rename_node(oldFilePath, newFileName);
                ref.set_id(oldFilePath, newFilePath);
                file_path = newFilePath;
                file_name = newFileName;
                $('#file_name').text(file_name);
                $('#file_path').text(file_path);
            }
            else{
                console.log('renaming failed with error code : '+status);
                alert('renaming failed with error code : '+status);
            }
        })
        /*
        ref.edit(sel, null, function(node, status) {
            console.log('edit function callback called');
            console.log('node:'+node);
            console.log('status:'+status);
        });*/
    };
    function deleteTree() {
        var ref = $('#tree_dir').jstree(true),
            sel = ref.get_selected(),
            file_path = ref.get_node(sel).id;
        if(!sel.length || ref.get_node(sel).icon == ""){   
            return false;//incase of not selected and folder
        }
        if(ref.delete_node(sel)){
            $.get('/api/del?fpath=' + file_path, function(data, status){
                console.log('ajax get-file delete with stat:' + status);
            });

        };
    };
    function save_current() {
        console.log('save_current() called');
        console.log('content_dirty_bit'+content_dirty_bit);
        console.log('file_path'+file_path);
        var filling = editor.getValue();
    
        if(content_dirty_bit === 1 && file_path != "")
        {
            $.post('/api/save' , 
            {
                fpath: file_path,
                contents: filling
            },
            function(data, status){
                console.log('ajax post-file save with stat:' + status);
            });
            console.log('save request sent successfully');
            $('#save_btn').attr("class", "btn btn-primary disabled");
            content_dirty_bit = 0;
        }
    }

    </script>
<!-- jstree initialization ends -->

<!-- code mirror scripts -->
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true
      });
      var input = document.getElementById("select");
      function selectTheme() {
        var theme = input.options[input.selectedIndex].textContent;
        editor.setOption("theme", theme);
        location.hash = "#" + theme;
      }
      var choice = (location.hash && location.hash.slice(1)) ||
                   (document.location.search &&
                    decodeURIComponent(document.location.search.slice(1)));
      if (choice) {
        input.value = choice;
        editor.setOption("theme", choice);
      }
      CodeMirror.on(window, "hashchange", function() {
        var theme = location.hash.slice(1);
        if (theme) { input.value = theme; selectTheme(); }
      });
      CodeMirror.on(editor, "changes", function() {
        if(content_dirty_bit === 0 ) {
            console.log("text contnets changed");
            $('#save_btn').attr("class", "btn btn-primary active");
            content_dirty_bit = 1;
        }
      });
    </script>
    <!-- code mirror scripts -->




     

</div> <!-- end of upper navigation bar container -->
</body>

</html>
